<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New campground</title>
</head>

<body>
    <h1>List a new campground!</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Campground's name</label>
        <!-- by adding name campground[title] it will create an object "campground" in req.body 
            with properties title and next up location -->
        <input type="text" id="title" name="campground[title]" placeholder="Insert a name">
        <label for="location">Campground's location</label>
        <input type="text" id="location" name="campground[location]" placeholder="Insert a location">
        <button>Submit</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
</body>

</html>