<% layout("layouts/boilerplate") %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <!-- add no validate to avoid default html behaviour and let bootstrap take over
            to avoid submitting the form unless validated -->
        <!-- Changing enctype to allow file uploads... -->
        <form action="/campgrounds" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Campground's name</label>
                <!-- by adding name campground[title] it will create an object "campground" in req.body 
                        with properties title and next up location -->
                <input class="form-control" type="text" id="title" name="campground[title]" placeholder="Insert a name"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Campground's location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    placeholder="Insert a location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Upload images</label>
                <input class="form-control" type="file" id="images" name="images" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground's price</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Price"
                        aria-describedby="price-label" name="campground[price]" required>
                    <span class="input-group-text" id="price-label">€</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Campground's description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    placeholder="Insert a description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>